.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
* { margin: 0; padding: 0;} body { display: flex;justify-content: center; align-items: center; 
}
.container{
      justify-content: center;
      align-items: center;
      margin:0;width: 200px;
      height:200px;
    

      display: grid; 
      grid-template-rows: repeat(3, 100px);
      grid-template-columns: repeat(14, 100px);
      
      
}
.container button {display: flex; margin: 10px; }